[submodule "Donut"]
	path = Donut
	url = https://github.com/NVIDIA-RTX/Donut
[submodule "vendor/libcbt"]
	path = vendor/libcbt
	url = https://github.com/jdupuy/libcbt
[submodule "vendor/libleb"]
	path = vendor/libleb
	url = https://github.com/jdupuy/libleb
